* {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightyellow;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: goldenrod;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 500;
}

p {
    border: 2px solid navy;
    padding: 2px;
    display: block;
    width: fit-content;

}

.main-text {
    border: 2px solid navy;
    padding: 2px;
    display: block;
    width: fit-content;
}